<section class="section">
    <h1>Productos</h1>
    <div class="product-container">
        {{#each products}}
        <article class="article">
            <img class="imagen" src="{{thumbnail}}" alt="thumbnail">
            
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <div class="info-container">
                <p>precio: ${{price}}</p>
                <p>stock: {{stock}}</p>
                <p>codigo: {{code}}</p>
                <p>id: {{id}}</p>
            </div>
        </article>
        {{/each}}
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>